{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if user.is_authenticated and user.id == user.profile.id and user.profile.id == student.user_account.pk %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Delete Student Profile</h3>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <h5><p class="text-primary m-0 font-weight-bold">Are you sure you would like to delete {{ student.first_name }} {{ student.last_name }}'s profile?</p></h5>
                        <div class = "form-group">
                            <form method="Post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <br>
                                <button class="btn btn-primary">&nbsp;Yes&nbsp;</button>
                                <a class="btn btn-primary" href="{% url 'show_profile' %}" role="button" >&nbsp;&nbsp;No&nbsp;&nbsp;</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="text-dark mb-4"> You are either not logged in or do not have access to this page. </h3>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}