{% extends 'base.html' %}
{% block content %}
{% load static %}




{% if user.is_authenticated %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">User Settings</h3>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">User Settings</p>
                    </div>
                    <div class="card-body">
                        <div class = "form-group">
                            <form method="Post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-secondary">Update Settings</button>
                            </form>
                            <hr>
                            <form method="form" action={%url 'password_change' %}>
                                <button class="btn btn-secondary">Change Password</button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}