{% extends 'base.html' %}
{% block content %}
{% load static %}



{% if user.is_authenticated and user.id == user.profile.id %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Notifications</h3>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        {% for notification in  user.notifications.unread %}
                            {% if notification.verb != "Message" %}
                                <div> <b style="color:green;">Meal Plan Update!</b><br>
                                    {{ notification.description }}
                                    <a href="{% url 'edit_meal_plan' notification.verb %}">Click here for more information about this meal plan!</a>
                                </div>
                            {% else %}
                                <div> <b style="color:blue;">Message from {{ notification.actor }}</b><br>
                                {{ notification.description }}
                            {% endif %}
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}










{% endblock %}