<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/css/Map-Clean.css' %}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url({% static 'hungryhelpers/assets/img/bgs/burger.webp' %});"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button>
                                        <!--<div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"></div>
                                        <div class="form-group"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password"></div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                            </div>
                                        </div>
                                        <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Login with Facebook</a>-->
                                    </form>
                                    <hr>
                                    <form method="form" action={% url 'signup' %}>
                                        <button class="btn btn-primary btn-block" type="submit">Don't have an account? Sign up here!</button>
                                        <!--<button type="submit">Sign Up</button>
                                    <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                                    <div class="text-center"><a class="small" href="register.html">Create an Account!</a></div>-->
                                    </form>
                                    <br><br><br><br>
                                    <form method="form" action={% url 'home' %}>
                                        <button class="btn btn-primary btn-block" type="submit">Back to Home</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'hungryhelpers/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/js/chart.min.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/js/bs-init.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'hungryhelpers/assets/js/theme.js' %}"></script>
</body>

</html>
