{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h5 class="text-dark mb-4"> We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly. </h5>
				<h5 class="text-dark mb-4"> If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder. </h5>
				<a href="{% url 'home' %}"><p style="text-align:center">Click here to return to the home page!</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}