{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Change Password</h3>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Requirements</p>
                    </div>
                    <div class="card-body">
                      <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
                    </div>
                </div>

                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class = "form-group">
                            <form method="Post">
                                {% csrf_token %}
                                <fieldset class="module aligned wide">
                                    <div class="form-row">
                                        <label for="id_old_password"><b>Old password:</b></label>
                                        <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <label for="id_new_password1"><b>New password:</b></label>
                                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <label for="id_new_password2"><b>New password confirmation:</b></label>
                                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                    </div>
                                </fieldset>
                                <hr>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                <button class="btn btn-primary">Update Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="text-dark mb-4"> You are either not logged in or do not have access to this page. </h3>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}