{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if user.is_authenticated %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">{{ user.username }}'s Profile</h3>
        <div class="row">
            <div class="col">
                <h2>Caretaker Information:</h2>
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Name and Contact Information</p>
                    </div>
                    <div class="card-body">
                        {% if user.profile.id %}
                            {{ user.profile.caretaker_names|linebreaks }}  <br>
                        {% endif %}
                    </div>
                </div>
                <form method="form" action="{% url 'edit_profile' %}">
                    <button class="btn btn-primary btn-block" type="submit">Edit Caretaker Names</button>
                </form>
                <br>
                <h2>Students:</h2>
                {% for student in profile.students.all %}
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <a class="btn btn-primary btn-sm" href="{% url 'delete_student' student.pk %}" role="button" style="float: right; margin: 2px;">Delete</a>
                            <a class="btn btn-primary btn-sm" href="{% url 'edit_student' student.pk %}" role="button" style="float: right; margin: 2px;">Edit</a>
                            <h5><p class="text-primary m-0 font-weight-bold">{{ student.first_name }} {{ student.last_name }}</p></h5>
                        </div>
                        <div class="card-body">
                             <div class="row">
                                 <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="text-secondary m-0 font-weight-bold">General Information</div>
                                        </div>
                                        <div class="card-body">
                                            <!--<b> Primary Key: </b> {{ student.pk }} <br>-->
                                            <!--<b> Parent Primary Key: </b> {{ student.user_account.pk }} <br>-->
                                            <b> Age: </b> {{ student.age }} <br>
                                            <b> Address: </b> {{ student.address }} <br>
                                            <b> City: </b> {{ student.city }} <br>
                                            <b> State: </b> {{ student.state }} <br>
                                            <b> Zip: </b> {{ student.zip }} <br>
                                            <b> District: </b> {{ student.district }} <br>
                                            <b> School: </b> {{ student.school }} <br>
                                            <b> Grade: </b> {{ student.grade }} <br>
                                            <b> Student ID: </b> {{ student.student_id }} <br>
                                            <b> Pickup Location:</b> {{ student.pickup_location }} <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="text-secondary m-0 font-weight-bold">Dietary Restrictions and Preferences</div>
                                        </div>
                                        <div class="card-body">
                                            <b> Allergies:</b> <br>
                                            &emsp;<b> Celiac: </b> {{ student.allergic_celiac }} <br>
                                            &emsp;<b> Shellfish: </b> {{ student.allergic_shellfish }} <br>
                                            &emsp;<b> Lactose: </b> {{ student.allergic_lactose }} <br>
                                            <b> Food Preferences:</b> <br>
                                            &emsp;<b> Halal: </b> {{ student.preference_halal }} <br>
                                            &emsp;<b> Kosher: </b> {{ student.preference_kosher }} <br>
                                            &emsp;<b> Vegetarian: </b> {{ student.preference_vegetarian  }} <br>
                                            <b> Meal Type:</b> <br>
                                            &emsp;<b> Breakfast: </b> {{ student.meal_breakfast }} <br>
                                            &emsp;<b> Lunch: </b> {{ student.meal_lunch }} <br>
                                            &emsp;<b> Dinner: </b> {{ student.meal_dinner }} <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if user.profile.id %}
                    <form method="form" action="{% url 'add_student' %}">
                        <button class="btn btn-primary btn-block" type="submit">Add Student</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
    </div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="text-dark mb-4"> You are either not logged in or do not have access to this page. </h3>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}