{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if user.is_authenticated %}

    <div class="container-fluid">
        <h3 class="text-dark mb-4">Choose a Meal</h3>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Meal Description</p>
                    </div>
                    <div class="card-body">
                        <div class="col-xs-2">
                            <b>Meal:</b> {{ theMeal.0 }} </br>
                            <b>Celiac Safe:</b> {{ theMeal.1 }} </br>
                            <b>Shellfish Safe:</b> {{ theMeal.2 }} </br>
                            <b>Lactose Safe:</b> {{ theMeal.3 }} </br>
                            <b>Halal:</b> {{ theMeal.4 }} </br>
                            <b>Kosher:</b> {{ theMeal.5 }} </br>
                            <b>Vegetarian:</b> {{ theMeal.6 }} </br>
                            <b>Breakfast:</b> {{ theMeal.7 }} </br>
                            <b>Lunch:</b> {{ theMeal.8 }} </br>
                            <b>Dinner:</b> {{ theMeal.9 }} </br>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Conflicts</p>
                    </div>
                    <div class="card-body py-3">
                        {% for i in students %}
                            <bold style="font-size:20px;">{{i.0}}</bold>
                            <div class="row">
                            {% for j in i %}
                               <div class="card text-white bg-danger mb-1 text-center" style="max-width: 13rem; max-height: 3.5rem; font-size:15px;">
                                    <div class="card-body">
                                        <p class="card-text"> {{ j }} </p>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer py-3 text-center">
                        <button class="btn btn-danger float-right" id="right" style="color:white"> Change Meal? </button>

                    </div>

                </div>
            </div>
        </div>
    </div>

<script>


</script>
{% else %}
    You must be logged in to use this page!
{% endif %}

{% endblock %}
