{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if user.is_authenticated and perms.findLocation.add_googlemapsresponse %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <div class="container-fluid">
        <h3 class="text-dark mb-4">Student Meal Plans</h3>
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Meal Plan Tickets</p> </br>
                        <div class="col-xs-4">
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Pickup Location</th>
                                    <th scope="col">Confirmation Number</th>
                                    <th scope="col">Confirm</th>
                                </tr>
                                </thead>
                                <tbody id="myTable">
                                {% for mealplan in mealplans %}
                                    {% if mealplan.complete == "Yes" %}
                                        <tr>
                                            <td>{{ mealplan.student_profile.user_account.user.first_name }}</td>
                                            <td>{{ mealplan.student_profile.user_account.user.last_name }}</td>
                                            <td>{{ mealplan.pickup_location }}</td>
                                            <td>{{ mealplan.pk }}</td>
                                            {% csrf_token %}
                                            {{ form.content }}
                                            <form method="POST" action="{% url 'send_confirm_notif' %}">
                                                {% csrf_token %}
                                                <td><button type="submit" name="mealPk" class="btn btn-outline-success" value="{{ mealplan.pk }}">Confirm</button></td>
                                            </form>

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% else %}
    You must be logged in or have access to use this page!
{% endif %}

{% endblock %}
