<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load notifications_tags %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hungry Helpers</title>
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css' %}">
    <link rel="stylesheet" href="{% static 'hungryhelpers/assets/css/Map-Clean.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Side bar content -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Hungry Helpers</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                        {% if user.profile.id %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'show_profile' user.profile.id %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="{% url 'edit_profile' user.profile.id %}"><i class="fas fa-user"></i><span>EDIT Profile</span></a></li>-->
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'create_profile' %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'inbox' %}"><i class="fas fa-bell"></i><span>Notifications</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="tickets.html"><i class="fa fa-ticket"></i><span>Tickets</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'findlocation' %}"><i class="fa fa-map"></i><span>Map</span></a></li>

                    {% else %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}"><i class="fas fa-info-circle"></i><span>About Us</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'edit_settings' %}"><i class="fas fa-cog"></i><span>Settings</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-door-open"></i><span>Log Out</span></a></li>
                    {% endif %}
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <!-- Header bar content -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <!-- (Search Bar)
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        -->
                        <ul class="navbar-nav flex-nowrap ml-auto">
                          <!-- (Search Bar)
                          <li class="nav-item dropdown d-sm-none no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>-->
                            {% if user.is_authenticated %}

                                <div class="nav-item dropdown no-arrow mx-1">
                                    <a href="#" class="notification dropdown-toggle nav-link" aria-expanded="false" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                                        <i class="fas fa-bell" style="font-size:24px"></i>
                                        <span class="badge">{% live_notify_badge %}</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <div class="dropdown-divider"></div>
                                        {% for notification in user.notifications.unread %}
                                            <li class="dropdown-item"><a href="{% url 'inbox' %}"><span>Message from {{ notification.actor }}</span></a></li>
                                            <div class="dropdown-divider"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% live_notify_list list_class="dropdown-menu" %}

                                <!--<li class="nav-item dropdown no-arrow mx-1">
                                    <div class="nav-item dropdown no-arrow">
                                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="badge badge-danger badge-counter">0</span><i class="fas fa-bell fa-fw"></i></a>
                                        Add notification functionality
                                    </div>
                                </li>-->
                            {% endif %}
                            <!--<li class="nav-item dropdown no-arrow mx-1">
                                 (Mail icon)
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="badge badge-danger badge-counter">0</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list animated--grow-in">
                                        Add mail functionality
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>-->
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                {% if user.is_authenticated %}
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ user.username }}</span><img class="border rounded-circle img-profile" src="{% static 'hungryhelpers/assets/img/avatars/loggedin.jpg' %}"></a>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                          <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                          <a class="dropdown-item" href="{% url 'edit_settings' %}"><i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">You are not logged in</span><img class="border rounded-circle img-profile" src="{% static 'hungryhelpers/assets/img/avatars/loggedout.jpg' %}"></a>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                          <a class="dropdown-item" href="{% url 'login' %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Login</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="{% url 'signup' %}"><i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Register</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </nav>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <!--
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
        </div>
    </footer>

    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    -->
    <script src="{% static 'hungryhelpers/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/js/chart.min.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/js/bs-init.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js' %}"></script>
    <script src="{% static 'hungryhelpers/assets/js/theme.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>