{% extends 'base.html' %}
{% block title %}Create Profile{% endblock %}
{% block content %}

{% load static %}

{% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3>
        </div>
        <hr>
        <h2> Good evening, {{ user.profile.first_name }}! </h2>
        <div class="row">
            <div class="col">
                <!--<h2>Parent:</h2>-->
                <div class="card shadow mb-3">
                    <div class="card-header">
                        <p class="text-primary m-0 font-weight-bold h3" style="text-align:center">School Alert</p>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <i class="fa fa-bullhorn fa-5x fa-fw"></i>
                            <div class="col">
                                <h4> BCPS summer school meals now scheduling available at no cost, to all children ages 2-18 curbsize pickup. <br>
                                <b> Monday + Wednesday </b> <br>
                                11:00 AM - 1:00PM</h4>
                            </div>
                        </div>
                        <div style="display: inline-block; margin-left: 35%;" >
                            <div class="row">
                                <a href="#"><button style="width:155px; text-align:center;" type="button" class="btn btn-primary btn-block">Create Meal Plan</button></a>
                                &emsp;
                                <a href="#"><button style="width:155px; text-align:center;" type="button" class="btn btn-secondary btn-block">Dismiss</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-3">
                    <div class="card-header">
                        <p class="text-primary m-0 font-weight-bold h3" style="text-align:center">Your Schedule</p>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <i class="fa fa-calendar-plus fa-5x fa-fw"></i>
                            <div class="col">
                                <h4> Set up your pick up or delivery method for your meal plans <br>
                                <b> Monday + Wednesday </b> <br>
                                11:00 AM - 1:00PM</h4>
                            </div>
                        </div>
                        <div style="display: inline-block; margin-left: 44%;" >
                            <div class="row">
                                <a href="#"><button style="width:155px; text-align:center;" type="button" class="btn btn-primary btn-block">View</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% else %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Hungry Helpers Initiative</h3>
        </div>
        <hr>
        <h5>
            Since the COVID-19 pandemic, the distribution of subsidized meals has become an increasing concern
            due to social distancing and remote learning. Students who are qualified to receive school lunches
            are unfortunately unable to retrieve them effectively. With some districts suffering from reductions
            in their meal-service budget, this issue is only worsening. The current lunch program systems are
            difficult to navigate through, with no simple and flexible process for parents to benefit from.
            <br><br>
            In an effort to address this concern, Hungry Helpers have designed a web application to provide an
            organized and efficient system to distribute school lunches to public school students during the
            pandemic. It will provide a convenient and intuitive way for parents to plan when and where to pick
            up food and will also help school staff have an efficient structure for food pickups.
            <br><br>
            Parents can create an account which will save all of their children’s necessary information
            including dietary restrictions, school district, and more. They will then be able to sign up for free
            or reduced price lunch and choose from available times and locations to pick up their food that is flexible
            to their needs. This information will then be stored in a way that will be accessible to school staff.
            Parents will also receive real-time notifications regarding their pickup and any changes that will occur.
            <br><br>
            The hope of Hungry Helpers is to help parents and schools take advantage of these lunch programs with ease!
        </h5>
        <hr>
        <form method="form" action="{% url 'login' %}">
            <button class="btn btn-primary btn-block btn-lg text-white btn-user" type="submit">Login Here!</button>
        </form>
        <br>
        <form method="form" action="{% url 'signup' %}">
            <button class="btn btn-primary btn-block btn-lg text-white btn-user" type="submit">Don't have an account? Sign up here!</button>
        </form>
    </div>
{% endif %}


{% endblock %}
