<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <h2>Find Your Location</h2>
    {% load static %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script type="text/javascript" src="{% static 'findLocation/index.js'%}"></script>
</head>
<body>
    <p>The Distances</p>
    <form action="{% url 'add' %}" method="post"}>
        {% csrf_token %}
        Enter a new destination:
        <input type="text" name="destination"> <br>
        <input type="submit">
    </form>
    </br>
    <div id="right-panel">
        <div>
            <!-- displays the origins and destinations from closest for furthest !-->
            <strong>Origin: </strong> {{ origin }} <br>
            <strong>Destinations</strong>
            <ol>
                {% for locations in googlemapsresult %}
                <li>{{ locations.location }}: {{locations.distance}} miles in {{locations.time}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    {{ api_key|json_script:"api_key" }}
    <!-- sets origin and destination values and calls the google maps api that will display the map !-->
    <script async type="text/javascript">
            var origin = "{{origin}}";
            var destinationString = "{{destinationList}}";
            var destinationList = []
            if( destinationString != "None"){
                destinationList = destinationString.split("|");
            }
            setParameters(origin, destinationList);
            const api_key = JSON.parse(document.getElementById('api_key').textContent);
            const google_api_script = document.createElement('script');
            google_api_script.setAttribute('src','https://maps.googleapis.com/maps/api/js?key=' + api_key + '&callback=initMap&libraries=&v=weekly');
            document.head.appendChild(google_api_script);
    </script>
</body>
</html>
