{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if user.is_authenticated %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="{% static 'css/style.css'%}">-->
    <script type="text/javascript" src="{% static 'findLocation/index.js'%}"></script>

    {{ api_key|json_script:"api_key" }}
    <script async type="text/javascript">
            var origin = "{{origin}}";
            var destinationString = "{{destinationList}}";
            var filterString = "{{filter}}";
            var destinationList = []
            if( destinationString != "None"){
                destinationList = destinationString.split("|");
            }
            if( filterString != "None"){
                filterString = filterString.split("|");
            }
            setParameters(origin, destinationList, filterString);
            const api_key = JSON.parse(document.getElementById('api_key').textContent);
            const google_api_script = document.createElement('script');
            google_api_script.setAttribute('src','https://maps.googleapis.com/maps/api/js?key=' + api_key + '&callback=initMap&libraries=&v=weekly');
            document.head.appendChild(google_api_script);
    </script>

    <div class="container-fluid">
        <h3 class="text-dark mb-4">Find Your Location</h3>
        <div class="row">
            <div class="col">
                {% if perms.findLocation.add_googlemapsresponse%}
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Map Configuration Panel</p>
                    </div>
                    <div class="card-body">
                        <div class = "form-group">
                            <form action="{% url 'addLocation' %}" method="post"}>
                                {% csrf_token %}
                                <div class="form-row">
                                    <label class="col-sm-1.5 col-form-label"><b>Add Location:</b></label>
                                    <input type="text" class="form-control col-sm-8" name="destination" />
                                </div>
                                <label class="col-sm-1.5 col-form-label"><b>Amenities:&nbsp;</b></label>
                                <input type="hidden" name="school" value="n" />
                                <input type="checkbox" id="amenity1" name="school" value="y">
                                <label for="amenity1">School</label>&nbsp;&nbsp;
                                <input type="hidden" name="bus" value="n" />
                                <input type="checkbox" id="amenity2" name="bus" value="y">
                                <label for="amenity2">Bus Stop</label>
                                <br>
                                <label class="col-sm-1.5 col-form-label"><b>Input Type:&nbsp;</b></label>
                                <input type="radio" name="remove" value="a" checked="checked"> Add &nbsp;&nbsp;
                                <input type="radio" name="remove" value="r"> Remove
                                <br><br>
                                <button class="btn btn-primary btn-block text-white btn-user">Add/Remove Location</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Set Your Location</p>
                    </div>
                    <div class="card-body">
                        <div class = "form-group">
                            <b>Current Origin: </b> {{ origin }}
                            <form action="{% url 'addOrigin' %}" method="post"}>
                                {% csrf_token %}
                                <div class="form-row">
                                    <label class="col-sm-1.5 col-form-label"><b>Set New Origin:</b></label>
                                    <input type="text" class="form-control col-sm-8" name="origin" />
                                </div>
                                <br>
                                <button class="btn btn-primary btn-block text-white btn-user">Set New Origin</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Destinations</p>
                    </div>
                    <div class="card-body">
                        <strong>Destinations:</strong>
                        <ol>
                            {% for locations in googlemapsresult %}
                                <li><span>{{ locations.location }}: {{locations.distance}} miles in {{locations.time}}</span></li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>

                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Map Filter</p>
                    </div>
                    <div class="card-body">
                        <div id="buttons">
                            <input type="checkbox" name="filter" id="school" class='chk-btn'>
                            <label for='school'>School</label>

                            <input type="checkbox" name="filter" id="bus" class='chk-btn'>
                            <label for='bus'>Bus Stop</label>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <br>
                        <div id="map"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% else %}
    You must be logged in to use this page!
{% endif %}

{% endblock %}


